{% extends 'layout.html.twig' %}

{% block body %}

    <h1>Create a post</h1>

    <div class="row">
        <div class="col-4">
            {{ form(postForm) }}
        </div>
    </div>

{% endblock %}

