{% extends "index.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <p class="lead">Phone: +380 63 538 18 25<br>Email: Drekhlitskii@gmail.com</p>
{% endblock %}


