{% extends "index.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <h3 class="float-md-start mb-0">Contact</h3>
{% endblock %}

{% block main %}
    <p class="lead">Phone: +380 63 538 18 25<br>Email: Drekhlitskii@gmail.com</p>
{% endblock %}


