
<!doctype html>
<html lang="ru" class="h-100">
{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rekhlitskiy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        element.style {
        }
        .cover-container {
            max-width: 42em;
        }
        .p-3 {
            padding: 1rem!important;
        }
        .mx-auto {
            margin-right: auto!important;
            margin-left: auto!important;
        }
        .flex-column {
            flex-direction: column!important;
        }
        .h-100 {
            height: 100%!important;
        }
        .w-100 {
            width: 100%!important;
        }
        .d-flex {
            display: flex!important;
        }
        *, ::after, ::before {
            box-sizing: border-box;
        }
        user agent stylesheet
        div {
            display: block;
        }
        .text-white {
            color: #fff!important;
        }
        .text-center {
            text-align: center!important;
        }
        body {
            text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
            box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
        }
        body {
            margin: 0;
            font-family: var(--bs-font-sans-serif);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
        }
        :root {
            --bs-blue: #0d6efd;
            --bs-indigo: #6610f2;
            --bs-purple: #6f42c1;
            --bs-pink: #d63384;
            --bs-red: #dc3545;
            --bs-orange: #fd7e14;
            --bs-yellow: #ffc107;
            --bs-green: #198754;
            --bs-teal: #20c997;
            --bs-cyan: #0dcaf0;
            --bs-white: #fff;
            --bs-gray: #6c757d;
            --bs-gray-dark: #343a40;
            --bs-primary: #0d6efd;
            --bs-secondary: #6c757d;
            --bs-success: #198754;
            --bs-info: #0dcaf0;
            --bs-warning: #ffc107;
            --bs-danger: #dc3545;
            --bs-light: #f8f9fa;
            --bs-dark: #212529;
            --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
            --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        }
        *, ::after, ::before {
            box-sizing: border-box;
        }
        *, ::after, ::before {
            box-sizing: border-box;
        }
    </style>

</head>
{% endblock %}
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Home</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <h1>Dmitriy Rekhlitskiy</h1>
        {% block main %}
        <p class="lead">Well that should be easy, this time we just shut down the computer.</p>
        {% endblock %}
    </main>

    <footer class="mt-auto text-white-50">
        <p>Instagram <a href="https://www.instagram.com/__sairus/" class="text-white">@_sairus</a></p>
    </footer>
</div>
</body>

</html>
